.clearfix {
    overflow: auto;
}
body {
    background-color: rgb(255, 255, 255);
}
img{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    border: 1px solid rgb(109, 109, 109);
}
h1 {
  color: rgb(83, 159, 63);
  font-family: sans-serif;
  font-size: 300%;
}
p  {
  color: rgb(0, 119, 255);
  font-family: sans-serif;
  font-size: 160%;
}

th{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(109, 109, 109);
}
td{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(109, 109, 109);
}
tr:nth-child(even) {background-color: #f2f2f2;}
table {
    
    display: table;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(109, 109, 109);
  }
a{
    color: rgb(0, 62, 196);
}
