body {
    background-color: rgb(0, 0, 0);
}
h1 {
  color: rgb(121, 89, 60);
  font-family: sans-serif;
  font-size: 300%;
}
p  {
  color: rgb(0, 119, 255);
  font-family: sans-serif;
  font-size: 160%;
}
table, th, td {
    color: white;
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
  }
a{
    color: cyan;
}
