body {
    background-color: black;
}
h1 {
    background-color: black;
    color: rgb(240, 236, 115);
    font-size: 300%;
    font-family: courier;
    font-size: 300%;
}
p  {
  color: rgb(255, 255, 255);
  font-family: courier;
  font-size: 160%;
}
table, th, td {
    color: white;
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
  }
